/* Обнуляющий стиль */
* {
	padding: 0;
	margin: 0;
	border: 0;

}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

body {}

.travel-page {

	background: url(../img/Ellipse\ 1\ copy.svg) center no-repeat, #e8e8e8;
	margin: 0 auto;
	width: 100%;
	max-width: 1440px;
}

.main-title {
	display: block;
	padding-top: 168px;
	margin-bottom: 15px;
}

.main-title__title {
	text-align: center;
	font-size: 14px;
	color: #273d46;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.page-title {}

.page-title__title {
	font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
	font-size: 35px;
	color: #273d46;
	text-align: center;
	line-height: 50px;
	margin-bottom: 63px;

}

.image-block {
	width: 841px;
	height: 561px;
	background: url('../img/light-man\ copy.png') center no-repeat, white;
	margin: 0 auto 99px;
}

.description {
	width: 740px;
	margin: 0 auto 50px;
}

.description__text {
	font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
	font-size: 24px;
	color: #273d46;
	line-height: 40px;
	opacity: 80%;
}

.check-list {
	display: block;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin-left: 347px;
	margin-bottom: 59px;

}

.check-list li {
	background: url(../img/check\ icon.svg) left top no-repeat;
	padding-left: 36px;
}

.check-list__item-1 {
	color: #273d46;
	font-size: 22px;
	text-shadow: 0 0 1px black;
}

.check-list__item-2 {
	font-style: italic;
	font-size: 21px;
	color: #80b7b3;
}

.check-list__item-3 {
	font-weight: 700;
	color: #273d46;
	font-size: 22px;

}

.check-list__item-4 {
	text-decoration: line-through;
	font-size: 21px;
	margin-bottom: 59px;
	opacity: 30%;
}

.full-story {
	margin-left: 347px;
	border-radius: 35px;
	width: 200px;
	line-height: 44px;
	background: #80b7b3;
	text-align: center;


}

.full-story__text {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: white;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 3px;
	margin-right: 5px;



}

.travel-img {
	display: inline-block;
	vertical-align: middle;
}